<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="(max-width: 1900px)" href="./css/main.css">
    <link rel="stylesheet" media="(min-width: 1024px) and (max-width: 1199px)" href="">
    <link rel="stylesheet" media="(min-width: 168px) and (max-width: 1023px)" href="./css/main-mobi.css">
    <link rel="stylesheet" media="(min-width: 300px) and (max-width: 767px)" href="./css/main-mobi.css">

    <title>Document</title>
</head>
<body>
    <div id="container"> 
        <div id="header">
            <div id="logo">
                <h2 id="name">Vinay Kotha</h2>
            </div>
            <div id="search">
                <form action="#">
                    <table border="0" id="stable">
                        <tr>
                            <td><input type="text" id="sbar"></td>
                            <td><input type="submit" id="sbutton" value="Search"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div id="toggle">
                
            </div>
        </div>

        <div id="body">
            <div id="row1">
                <div id="show1_1" class="shows">
                    <a href="#">
                        <img src="./css/images/prod10.webp" alt="Biscuits" >
                    </a>
                </div>
                <div id="show1_2" class="shows">
                    <a href="#">
                        <img src="./css/images/prod8.png" alt="Biscuits" >
                    </a>
                </div>
                <div id="show1_3" class="shows">
                    <a href="#">
                        <img src="./css/images/prod5.jpg" alt="Biscuits" >
                    </a>
                </div>
            </div>
            <div id="row2">
                <div id="show2_1" class="shows">
                    <a href="#">
                        <img src="./css/images/prod9.jpg" alt="Biscuits" >
                    </a>
                </div>
                <div id="show2_2" class="shows">
                    <a href="#"><img src="./css/images/c.jpg" alt="Biscuits" ></a>
                </div>
                <div id="show2_3" class="shows">
                    <a href="#"><img src="./css/images/prod6.jpg" alt="Biscuits" ></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>